.main {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #f3edf7;
  height: 100%;
}

.auth {
  width: 40vw;
}

.photo {
  padding-top: 8rem;
}

.text {
  width: 60%;
  padding-top: 5rem;
  padding-left: 2rem;
}

.signin {
  padding-top: 7rem;
  padding-left: 4rem;
}

.login {
  padding-top: 7rem;
  padding-left: 4rem;
}

@media (max-width: 767.98px) {
  .main {
    display: flex;
    flex-direction: column;
    padding: 0%;
  }

  .text {
    width: 90vw;
  }

  .photo {
    width: 100vw;
  }

  .signin {
    padding-top: 7rem;
    width: 90vw;
    margin-bottom: 2rem;
  }

  .login {
    padding-top: 7rem;
    width: 90vw;
    margin-bottom: 2rem;
  }
}
